.intro {
  .slider {
    .slider-img-link {
      outline: none;
      img {
        border-radius: 5px;
      }
    }
  }
  .calculator {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 25px 15px;
    .calculator-title {
      @include flexy-box-between();
      margin-bottom: 25px;
      h4 {
        @include text(22px, 600, $text-color);
      }
      .btn {
        color: $third-text-color;
        font-size: 14px;
        margin-bottom: 0.5rem;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .form-control {
      @include text(12px, 400, $form-color);
      border-radius: 5px;
      height: 40px;
      padding-left: 4px;
      &::placeholder {
        @include text(12px, 400, $form-color);
      }
      &:focus {
        border-color: inherit;
        box-shadow: none;
      }
      option {
        &:hover {
          background-color: red !important;
        }
      }
    }
    .input-group-append {
      .form-control {
        border-radius: 0 5px 5px 0;
      }
    }
    .btnbox {
      .btn {
        @include btn(10px, transparent, 14px, $primary-color);
        width: 100%;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
        &:active {
          transform: translateY(-5px);
        }
      }
    }
    .sum {
      @include flexy-box-between();
      margin-top: 20px;
      font-size: 14px;
      .sum-count {
        font-weight: 600;
      }
    }
  }
}
.How-It-Works-wrapper {
  margin-top: 30px;
  background-color: $secondary-color;
  padding-top: 60px;
  padding-bottom: 80px;
  .title {
    margin-bottom: 40px;
    h1 {
      text-align: center;
      @include text(36px, 600, $text-color);
    }
  }
  .How-It-Works__items {
    .col-md-4 {
      padding-left: 0;
      padding-right: 0;
      .How-It-Works__item {
        border: 1px solid #e6e9ef;
        padding: 30px 60px;
        height: 100%;
        &:first-child,
        :nth-child(2) {
          border-right: none;
        }
        .imgBox {
          @include flexy-box();
          margin-bottom: 35px;
        }
        .title {
          margin-bottom: 15px;
          text-align: center;
          h4 {
            @include text(22px, 700, $text-color);
          }
        }
        .description {
          text-align: center;
          p {
            @include text(14px, 400, $text-color);
          }
        }
      }
    }
  }
}
.tariffs {
  padding-top: 60px;
  .header {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      @include text(36px, 600, $text-color);
    }
  }
  .content {
    .tab-content {
      background-color: $secondary-color;
      padding: 30px;
    }
    a.active {
      border-top: 3px solid $primary-color;
    }
    .nav-tabs {
      .nav-link {
        border-top-left-radius: none !important;
        border-top-right-radius: none !important;
      }
    }
    #uncontrolled-tab-example-tab-turkey,
    #uncontrolled-tab-example-tab-usa {
      @include text(16px, 600, $link-color);
      padding: 15px 30px;
    }
    .tab-header {
      display: flex;
      .title {
        @include flexy-box();
        padding-left: 30px;
        h4 {
          @include text(22px, 600, $text-color);
        }
      }
    }
    .tab-main {
      .type {
        margin-top: 40px;
        .type-title {
          h5 {
            @include text(16px, 600, $text-color);
          }
        }
        ul {
          list-style-type: none;
          padding-left: 0;
          li {
            @include flexy-box-between();
            padding: 10px 0;
            border-bottom: 1px dashed $border-color;
            .tariff-title {
              @include text(16px, 400, $text-color);
            }
            .tariff-price {
              @include text(20px, 600, $second-text-color);
            }
          }
        }
      }
    }
    .tab-description {
      margin-top: 50px;
      p {
        @include text(14px, 400, $text-color);
        line-height: 28px;
      }
    }
  }
}
.certificates {
  background-color: $secondary-color;
  margin-top: 70px;
  padding: 60px 0 80px;
  .header {
    text-align: center;
    h2 {
      @include text(36px, 600, $text-color);
      margin-bottom: 40px;
    }
  }
  .content {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 30px;
    .imgBox {
      @include flexy-box();
      height: 100%;
    }
  }
}
.news {
  background-color: $secondary-color;
  margin-top: 30px;
  padding: 60px 0;
  .title {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      @include text(36px, 600, $text-color);
    }
  }
  .news-card {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    img {
      border-radius: 5px;
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: -webkit-linear-gradient(
        90deg,
        #353333 0,
        rgba(0, 0, 0, 0) 100%
      );
      height: 140px;
      width: 100%;
      bottom: -20px;
      left: 0;
    }
    .card-caption {
      position: absolute;
      bottom: -5%;
      z-index: 2;
      padding: 10px 10px 5px;
      .caption-title {
        @include text(15px, 500, $secondary-color);
      }
      .caption-date {
        @include text(12px, 400, $secondary-color);
        .date {
          padding-left: 5px;
        }
      }
    }
  }
}
