.header {
  .navbar-top {
    @include flexy-box-between();
    padding-top: 10px;
    .right-items {
      .navbar-top__item {
        &:first-child {
          border-right: 1px solid $link-color;
          padding-right: 15px;
        }
      }
    }
    .nav-items {
      list-style-type: none;
      display: flex;
      padding-left: 0;
      .navbar-top__item {
        &:not(:first-child) {
          padding-left: 15px;
        }
        .navbar-top__link {
          @include text(14px, 400, $link-color);
          text-decoration: none;
          transition: all 0.5s;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  .navbar-bottom {
    background-color: $secondary-color;
    padding-top: 5px;
    padding-bottom: 5px;
    .navbar {
      padding-left: 0;
      padding-right: 0;
      .navbar-toggler {
        .hamburger-menu-icon {
          position: absolute;
          width: 10%;
          height: 5px;
          background-color: $primary-color;
          border-radius: 3px;
          transition: all 0.5s ease-in-out;
          right: 10px;
          &::before {
            @include hambugerMenu(-10px);
          }
          &::after {
            @include hambugerMenu(10px);
          }
        }
      }
      .open {
        .hamburger-menu-icon {
          transform: translateX(-20px);
          background-color: transparent;
          &::before {
            transform: rotate(45deg) translate(15px, -15px);
          }
          &::after {
            transform: rotate(-45deg) translate(15px, 15px);
          }
        }
      }
      .nav-link {
        @include text(16px, 600, $text-color);
        padding-left: 25px;
        transition: all 0.5s;
        &:hover {
          color: $primary-color;
        }
      }
      .dropdown-toggle {
        color: $link-color;
      }
      .dropdown-item {
        cursor: pointer !important;
        transition: all 0.5s;
        margin-bottom: 0;
        &:hover {
          color: $primary-color;
          background-color: transparent;
        }
      }
      .btn {
        @include btn(10px 45px, $primary-color, 16px, $primary-color);
        text-transform: uppercase;
        &:hover {
          @include btnHover($primary-color);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}
