@media screen and(max-width: 1024px) {
  .intro {
    .calculator {
      padding: 10px 15px;
      .calculator-title {
        margin-bottom: 0;
        .btn {
          font-size: 11px;
        }
      }
      .sum {
        margin-top: 10px;
      }
    }
  }
}
@media screen and(max-width: 768px) {
  .header {
    .navbar-bottom {
      .navbar {
        .navbar-toggler {
          .hamburger-menu-icon {
            width: 6%;
          }
        }
        .navbar-nav {
          .dropdown-menu {
            text-align: center;
          }
        }
        .nav-link {
          padding-left: 0;
          text-align: center;
        }
        .btnBox {
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
  .news {
    .news-card {
      .card-caption {
        bottom: -13%;
        .caption-title {
          margin-bottom: 5px;
        }
      }
    }
  }
}
@media screen and(max-width: 576px) {
  .header {
    .navbar-top {
      display: block;
      margin-top: 20px;
      .nav-items {
        .navbar-top__item {
          &:not(:first-child) {
            padding-left: 12px;
          }
          .navbar-top__link {
            font-size: 12px;
          }
        }
      }
    }
    .navbar-bottom {
      .navbar {
        .navbar-toggler {
          .hamburger-menu-icon {
            width: 10%;
          }
        }
        .navbar-nav {
          .dropdown-menu {
            text-align: center;
          }
        }
        .nav-link {
          padding-left: 0;
          text-align: center;
        }
        .btnBox {
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
  .How-It-Works-wrapper {
    margin: 15px;
    border-radius: 10px;
    .How-It-Works__items {
      border-right: 1px solid #e6e9ef;
      .col-md-4 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .certificates {
    .header {
      h2 {
        font-size: 30px;
      }
    }
    .content {
      .imgBox {
        padding-bottom: 45px;
      }
    }
  }
  .news {
    .news-card {
      margin-bottom: 15px;
      .card-caption {
        bottom: -5%;
      }
    }
  }
}
@media screen and(max-width: 360px) {
  .header {
    .navbar-top {
      .nav-items {
        .navbar-top__item {
          .navbar-top__link {
            font-size: 11px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 320px) {
  .header {
    .navbar-top {
      .nav-items {
        .navbar-top__item {
          &:not(:first-child) {
            padding-left: 8px;
          }
          .navbar-top__link {
            font-size: 10px;
          }
        }
      }
    }
  }
}
