$primary-color: #f95732;
$secondary-color: #fff;
$background-color: #f0f0f7;
$second-background-color: #363636;
$text-color: #333;
$second-text-color: #000;
$third-text-color: #aaa;
$link-color: #777;
$form-color: #ababab;
$border-color: #e2e5e7;
